In [1]:
import pandas as pd

In [2]:
df_data = pd.read_csv("../raw_data/cortisol/raw_data_measures.csv")
df_data

   Sample  Cortisol (pg/mL) Attachment
0      38              4.21     Secure
1      16              3.59     Secure
2      32             22.75     Secure
3       1              5.62   Insecure
4       7              1.83   Insecure
5      39              3.07   Insecure
6       5              2.28     Secure
7      63              7.08   Insecure
8      27              2.26     Secure
9      23              4.76     Secure

In [4]:
df_data["Attachment"].value_counts()

Secure      6
Insecure    4
Name: Attachment, dtype: int64

In [3]:
df_data.describe()

          Sample  Cortisol (pg/mL)
count  10.000000         10.000000
mean   25.100000          5.745000
std    18.993859          6.196528
min     1.000000          1.830000
25%     9.250000          2.477500
50%    25.000000          3.900000
75%    36.500000          5.405000
max    63.000000         22.750000

In [5]:
secure_df = df_data[df_data["Attachment"] == "Secure"]
secure_df.describe()

          Sample  Cortisol (pg/mL)
count   6.000000          6.000000
mean   23.500000          6.641667
std    11.777096          7.955726
min     5.000000          2.260000
25%    17.750000          2.607500
50%    25.000000          3.900000
75%    30.750000          4.622500
max    38.000000         22.750000

In [6]:
insecure_df = df_data[df_data["Attachment"] == "Insecure"]
insecure_df.describe()

          Sample  Cortisol (pg/mL)
count   4.000000          4.000000
mean   27.500000          4.400000
std    28.953986          2.383597
min     1.000000          1.830000
25%     5.500000          2.760000
50%    23.000000          4.345000
75%    45.000000          5.985000
max    63.000000          7.080000

In [10]:
concat_description = pd.concat([secure_df.describe(), insecure_df.describe()], axis=1)
concat_description.columns = ["Sample", "Cortisol (pg/mL)-Secure", "Sample", "Cortisol (pg/mL)-Insecure"]
concat_description = concat_description.drop(columns=["Sample"])
concat_description

       Cortisol (pg/mL)-Secure  Cortisol (pg/mL)-Insecure
count                 6.000000                   4.000000
mean                  6.641667                   4.400000
std                   7.955726                   2.383597
min                   2.260000                   1.830000
25%                   2.607500                   2.760000
50%                   3.900000                   4.345000
75%                   4.622500                   5.985000
max                  22.750000                   7.080000